

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../../assests/images/backgroud.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #161538 !important;
  /*width: auto;*/
  min-height: 100vh;
  
}

/* ------------- HEADER ------------- */

/* ------------- NAVBAR -------------*/
nav {
  background-color: #161538;
  padding: 0.8rem 1rem;
  height: 123px;
}

nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.large_screen_nav li {
  padding: 1.3rem 1rem;
  text-align: center;
}

a.menu, nav a, a.menu:hover {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color:#cbcaca; /* c7c7ca */
  position: relative;
}

a.menu::after {
  /*Je maakt hier een leeg grijs gekleurd blokje dat 2px hoog is en 0% breed.
  Je plaatst het blokje op een bepaalde positie (5px onder a en in het midden van a) en geeft aan dat de transitie toegepast moet worden op breedte van blokje*/
  content: ''; 
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: #c7c7ca;
  transition: width 0.5s ease;
  transform: translateX(-50%);    
}

a.menu.nav-link::after {
  bottom: 5px;
}

nav a.menu:hover::after {
  /* Hover zorgt ervoor dat blokje (dus eigenlijk lijn) 100% breed wordt*/
  width: 100%;
}

a.menu.active::after {
  width: 100%;
}

#logo {
  display: block;
  width: 60px;
}

#logout {
  font-size:24px;
}

.medium_screen_nav {
  display: none;
}

#small_screen_nav {
  display: none;
}

/* ------------- CONTENT -------------*/

#body_without_navbar {
  min-height: calc(100vh - 123px);
  width: 80%;
  margin: 1.5rem auto;
  color:161538;
  background-color: #e9e6e6;
  border-style: solid;
  border-color: #838287;
  border-radius: 5px; 
}

.content { 
  display: flex;
  /*flex-direction: column;*/
  justify-content: space-between;
  padding: 20px;

}

/* ------------- h1 -------------*/

.content h1 {
  color: #ff9992;
  /*padding: 1rem 0rem;
  text-align: center;*/
  text-transform: uppercase;    
}

 
 

.Search{
  padding: 10px 20px;
  color:#ffffff;
  background-color: #161538;
  outline: none;
  border: none;
  border-radius: 0 0.3rem 0.3rem 0;
  cursor: pointer;
}


input{
  padding: 10px 20px;
  margin: 0 10px;
  outline: none;
  border: 1px solid #029bcf;
  border-radius: 0.3rem  0 0 0.3rem;
}

.table-section{
  overflow: scroll;
  height: 500px;
}
table{
  width: 100%;
  table-layout: fixed;
  min-width: 1000px;
  border-collapse: collapse;
  position: relative;
  text-align: left;
}

.table-filter {
  border-radius: 5px;
}


thead th{
  position: sticky;
  top: 0;
  background-color: #161538;
  color: #ffffff;
  
 
}

th,td{
  border-bottom: 1px solid #dddddd;
  padding: 10px 20px;
  word-break: break-all;
  

}

tr:hover td{
  cursor: pointer;
  background-color: #75737a;
}


.table-section__refresh{
  float: right;
  margin-right: 2rem;
  margin-top: 1rem;
}

.refresh_button{
  background: #dddddd;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}

.refresh_button--refreshing{
  animation: 10s rotate infinite linear;
}

@keyframes rotate{
  to{
    transform: rotate(1turn);
  }
}

.table-refresh-label{
  font-size: 0.8em;
  color: #999;
}

/* ------------- BUTTONS -------------*/

.buttons {
  display: flex;
  margin-top: auto;
}

.btn_bottom {
  background-color: #161538;
  border-style: solid;
  border-color: #c7c7ca;
  border-width: 1px;
  border-radius: 4em;
  padding: 1rem;
  color: #c7c7ca;
  font-weight: 400;
  margin: 1rem 0 10px 1rem;
  text-decoration: none;
}

#btn_new {
  margin-right: 1rem;
  margin-left: auto;
}

.modify_remove_btns {
  margin-left: 0rem;
} 

#btn_new, #btn_modify, #btn_remove {
  display: inline-block; /* Nodig om btns een width te kunnen geven */
  width: 220px;
  text-align: center;
}

.btn_bottom {
  transition: transform 0.7s;
}

.btn_bottom:hover {
  transform: scale(1.1);
  color: #ff9992;
  border-color: #ff9992;
  border-width: 2.3px;
  font-weight: bold;
  /*margin-bottom: 9px;*/
}

/* ------------- RESPONSIVE WEB DESIGN -------------*/

@media screen and (max-width:1197px){

  /* ------------- NAVBAR -------------*/

  .large_screen_nav li {
      width: min-content; /* Wanneer menu items wrappen op 2 lijnen, zorgen nog steeds goed geplaatst*/
  }

  #fact_lev_menu::after {
      left: 42%;
  }
  
  #fact_lev_menu:hover::after {
      height: 1.5px;
      width: 118%;
  }
  
  #fact_klant_menu::after {
      left: 53%;
  }
  
  #fact_klant_menu:hover::after {
      height: 1.5px;
      width: 103%;
  }
}

@media screen and (max-width:1030px) { /* Om geen problemen te hebben met scroll bij overgang */
  .large_screen_nav ul {
      justify-content: center;
  }
}

@media screen and (max-width:1000px) {

/* ------------- NAVBAR -------------*/

  .large_screen_nav {
      display: none;
  }

  .medium_screen_nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
  }

  nav ul {
      flex-direction: column;
  }

  .part_nav {
      display: flex;
      align-items: center;
  }

  .part_nav li {
      margin: 0.5rem 1rem;
      text-align: center;
  }

  #logout {
      display: block;
      margin-left: 1.5rem;
  }

  #logo {
      margin-right: 0.5rem;
  }

/* ------------- BUTTONS -------------*/

  .buttons {
      flex-direction: column-reverse;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 2px;
  }
  
 .modify_remove_btns {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
  }

  #btn_modify, #btn_remove {
      margin: 0;
      margin-bottom: 7px;
  }

  #btn_new {
      margin: 0.5rem 0 2rem 0;
  }
}

@media screen and (max-width:845px) { /* Check waarde zodanig overgang niet te plots */

/* ------------- NAVBAR -------------*/

  #nav_lower li {
      margin: 0.5rem 0.5rem;
  }

  #logo {
      width: 60px;
      margin-right: 0.3rem;
  }

  .bg-custom.navbar {
      background-color: #161538;
  }
}

@media screen and (max-width:767px) { /* Waarde volgens bootstrap */

/* ------------- NAVBAR -------------*/

  .medium_screen_nav {
      display: none;
  }

  #small_screen_nav {
      display: flex; /* Heeft zelfde effect als block */
  }

  #toggle {
      color: #ff9992;
  }

  button.navbar-toggler {
      outline: none;
      border-width: 0;
  }

  button.navbar-toggler:focus {
      box-shadow: none;
  }

  button.navbar-toggler:hover {
      border-width: 1px;
      border-color: #ffffff;    
  }

  div.container-fluid {
      background-color: #161538;
  }

  #logo {
      margin-left: 1rem;
  }

  .nav-item {
      margin: 0.2rem 0;
      font-size: small;
  }

  a.menu.nav-link.active {
      color: #cbcaca;
  }

  #li_logout a{
      display: flex;
      margin: 0.5rem 0;
      align-items: center;
      font-size: small;
  }

  #li_logout i {
      margin-left: 0;
      margin-right: 0.5rem;
      font-size: 15px;   
  }
}
